---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import WorkSection from "../components/WorkSection.astro";
import WorksScatter from "../components/WorksScatter.astro";
import WorksMap from "../components/WorksMap.astro";
import siteData from "../data/site.json";
import type { SiteData } from "../lib/types";

const { sections } = siteData as SiteData;
---

<Layout>
  <Navbar />
  <main class="content">
    <div class="works" id="works">
      {sections.map((section, index) => (
        <WorkSection section={section} defaultOpen={index === 0} />
      ))}
    </div>
    <WorksScatter />
    <WorksMap />
  </main>
</Layout>
