---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="navbar">
  <div class="navbar__inner">
    <a class="navbar__logo" href="https://naokiise.com/">Naoki Ise</a>
    <div class="navbar__actions">
      <ThemeToggle />
    </div>
  </div>
</header>
