---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="navbar">
  <div class="navbar__inner">
    <span class="navbar__logo">Naoki Ise</span>
    <div class="navbar__actions">
      <ThemeToggle />
    </div>
  </div>
</header>
